@charset "utf-8";
/* CSS Document */
/*html,body公共样式设置*/
*{ 
	font-family:"Microsoft YaHei","微软雅黑";
}
html,body{
	font-size:12px;
	-webkit-text-size-adjust:none;
	margin:0px; 
    width:100%; 
    height:100%; 
	/*overflow:hidden; 
	overflow-Y:auto;*/
}
/*设置背景透明度*/
#objBackgroup{
	filter:alpha(opacity=0);  /*支持 IE 浏览器*/
	-moz-opacity:0.0; /*支持 FireFox 浏览器*/
	opacity:0.0;  /*支持 Chrome, Opera, Safari 等浏览器*/
}
/*地图容器对象样式*/
.mapcontain{
	width:100%;
	height:100%;
	border: 0px solid #000;
}
/*地图工具栏样式*/
.map_top_tool{
	position:absolute;
	left:0px;
	top:0px;
	height:42px;
	width:100%;
	background:url(../images/index/top_bg.png);
	border-bottom:1px solid #A0A0A0;
	z-index:2;
}
.switchCity{
	position:absolute;
	left:10px;
	top:11px; 
	height:20px;
	cursor:pointer;
	border:0px solid red;
}
.switchCityContent{
	float:right;
	font-size:12px;
	color:#333;
	font-weight:600;
	margin-right:6px; 
	margin-top:2px;
}
.switchCityPic{
	float:right;
	width:10px;
	height:6px;
	margin-top:7px;
	background:url(../images/map/city.png) no-repeat;
}
.mapTool{
	position:absolute;
	top:10px;
	right:10px;
	height:22px;
	border:0px solid red;
}
.fullScreen{
	float:right;
	width:66px;
	cursor:pointer;
	height:22px;
	background:url(../images/map/quanping.png) no-repeat;
}
.exitFullScreen{
	float:right;
	width:70px;
	cursor:pointer;
	height:22px;
	background:url(../images/map/exitquanping.png) no-repeat;
	display:none;
}
.tool{
	float:right;
	width:74px;
	margin-right:10px;
	cursor:pointer;
	height:22px;
	background:url(../images/map/gongju.png) no-repeat;
}
.mapTool_tool_mune{
	position:absolute;
	top:31px;
	right:90px;
	width:60px;
	height:100px; 
	background:#FFF;
	border:1px solid #A0A0A0;
	display:none;
}
.mapTool_tool_mune_child{
	width:100%;
	height:20px;
	margin-top:10px;
	line-height:20px;
	font-size:12px;
	color:#333;
	cursor:pointer;
	letter-spacing:2px;
	text-align:center;
}
.switchCity_mune{
	position:absolute;
	top:31px;
	left:10px;
	width:380px;
	height:300px;
	border:1px solid #A0A0A0;
	background:#F9F9F9;
	display:none;
}
.switchCity_mune_top{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:30px;
	border-bottom:1px solid #A0A0A0;
	background:url(../images/map/city_list_bg.png);
}
.switchCity_mune_top_title{
	float:left;
	width:100px;
	height:30px;
	line-height:30px;
	margin-left:5px;
}
.switchCity_mune_top_colse{
	float:right;
	width:18px;
	height:18px;
	margin-top:6px;
	margin-right:5px;
	cursor:pointer;
	background:url(../images/map/colse.png) no-repeat;
}
.switchCity_mune_list{
	position:absolute;
	top:31px;
	left:1px;
	width:379px;
	height:269px;
	overflow:hidden;
	overflow-Y:auto;
	border:0px solid red;
}
.lukuang{
	float:right;
	width:66px;
	margin-right:10px;
	cursor:pointer;
	height:22px;
	background:url(../images/map/lukuang.png) no-repeat;
}
.hide_left_div{
	position:absolute;
	left:0px;
	top:267px;
	width:17px;
	cursor:pointer;
	height:63px;
	background:url(../images/map/left.png);
}
/*右侧数据列表样式*/
.map_right_data_list{
	position:absolute;
	width:250px;
	height:100%;
	top:0px;
	right:0px;
	overflow:hidden;
	overflow-Y:auto;
	z-index:3;
	display:none;
	background:#FFF;
	border-left:1px solid #A0A0A0;
}
.hide_right_div{
	position:absolute;
	width:17px;
	height:63px;
	top:267px;
	right:250px;
	cursor:pointer;
	background:url(../images/house/left.png);
	display:none;
}